<div class="container dashboard-page">
	<div class="dashboard-header">
		<div class="coin-type">
			Gemini
		</div>
	</div>
	<section class="dashboard-content">
		<table class="table table-coin">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Price</th>
					<th>High</th>
					<th>Low</th>
					<th class="hidden-td">Bid</th>
					<th class="hidden-td">Ask</th>
					<th class="hidden-td">Volume</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of coins; let i = index">
					<td>{{i}}</td>
					<td>{{item.coinName}}</td>
					<td>{{item.last | currency:'':'symbol':'1.2-3'}}</td>
					<td>{{item.high | currency:'':'symbol':'1.2-3'}}</td>
					<td>{{item.low | currency:'':'symbol':'1.2-3'}}</td>
					<td class="hidden-td">{{item.bid | currency:'':'symbol':'1.2-3'}}</td>
					<td class="hidden-td">{{item.ask | currency:'':'symbol':'1.2-3'}}</td>
					<td class="hidden-td">{{item.volumeUSD | currency:'':'symbol':'1.2-3'}}</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>